
<% if @user.role == "Node"%>
  <p> You're a node </p>
<% else %>
  <p>you're a cordinaitor.</p>
<% end %>


  <div class="container"> 
    <h1 id="info text-center">Profile</h1>
    <h4>Name: <%= @user.name %>

  </div>


