<div class="container">
  <h2>Avaliable Warehouses</h2>
</div>

<div class="container">
  <% @warehouses.each do |d| %>

    <h5>Location: <%= d.location %></h5>
    <p>Capacity: <%= d.capacity %></p>
    <p>Avaliability: <%= d.avaliability %></p>
    <p>Funding Required: <%= d.funding %></p>
    

  <% end %>
</div>